services:
  database:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: trust  # This disables password auth
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    image: ${REGISTRY}/${DOCKER_IMAGE}:latest
    healthcheck:
      test: curl -f http://portfolio-web:80/api/health || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 15s
    depends_on:
      database:
        condition: service_healthy
    container_name: portfolio-web
    environment:
      NUXT_DB_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
    env_file: .env

    restart: unless-stopped
    networks:
      - nginx
      - app-network

  migration:
    build:
      dockerfile: Dockerfile
      context: .
      target: migration
    env_file: .env
    environment:
      NUXT_DB_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network

volumes:
  db_data:

secrets:
  sentry_auth_token:
    environment: SENTRY_AUTH_TOKEN

networks:
  app-network:
    driver: bridge

  nginx:
    external: true
    name: nginx
