@import "./utilities.css";

.blog-post {
    @apply py-8;

    h3 {
        @apply max-w-xl mx-auto px-4
        text-2xl font-semibold mb-4
        before:font-semibold before:mr-2;
    }

    p {
        @apply max-w-xl mx-auto px-4 text-justify
        text-base leading-relaxed mb-4;
    }

    a {
        @apply hover:underline;
    }

    img {
        @apply max-w-full h-auto my-4;
    }

    ul {
        @apply list-disc pl-6 max-w-lg mx-auto px-4 mb-4;
    }

    ol {
        @apply list-decimal pl-6 max-w-lg mx-auto px-4 mb-4;
    }

    hr {
        @apply my-8;
    }

    table {
        @apply w-full max-w-3xl mx-auto mb-4 rounded-lg shadow-lg
        border border-gray-300 border-separate;

        border-spacing: 0;

        th:first-of-type {
            border-top-left-radius: var(--radius-lg);
        }

        th:last-of-type {
            border-top-right-radius: var(--radius-lg);
        }

        tr:last-of-type td:first-of-type {
            border-bottom-left-radius: var(--radius-lg);
        }

        tr:last-of-type td:last-of-type {
            border-bottom-right-radius: var(--radius-lg);
        }

        th, td {
            @apply border border-gray-300 p-2 text-left;
        }

        th {
            @apply bg-accented font-semibold;
        }
    }
}