name: Deploy Website
on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: neikow/${{ github.repository }}

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build project
        run: yarn build
      - name: Run ESLint
        run: yarn lint

  build-and-push:
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to the Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          secrets: |
            "sentry_auth_token=${{ secrets.SENTRY_AUTH_TOKEN }}"  

  deploy:
    name: Deploy to Server via SSH
    runs-on: ubuntu-latest
    environment: Production
    timeout-minutes: 30
    needs: build-and-push
    permissions:
      packages: read
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          command_timeout: '30m'
          script: |
            if [ ! -d ~/deployments ]; then
              mkdir ~/deployments
            fi
            if [ ! -d ~/deployments/portfolio ]; then
              git clone https://github.com/${{ github.repository_owner }}/${{ github.event.repository.name }}.git ~/deployments/portfolio
              cd ~/deployments/portfolio
            elif [ ! -d ~/deployments/portfolio/.git ]; then
              rm -rf ~/deployments/portfolio
              git clone https://github.com/${{ github.repository_owner }}/${{ github.event.repository.name }}.git ~/deployments/portfolio
              cd ~/deployments/portfolio
            else
              cd ~/deployments/portfolio
              git pull origin main
              git reset --hard origin/main
            fi
            rm -f .env
            touch .env
            
            echo NUXT_SITE_URL=${{ vars.SITE_URL }} > .env
            echo NUXT_SITE_NAME=${{ vars.SITE_NAME }} >> .env
            echo NUXT_OAUTH_GITHUB_CLIENT_ID=${{ secrets.OAUTH_GITHUB_CLIENT_ID }} >> .env
            echo NUXT_OAUTH_GITHUB_CLIENT_SECRET=${{ secrets.OAUTH_GITHUB_CLIENT_SECRET }} >> .env
            echo NUXT_OAUTH_GITHUB_REDIRECT_URL=https://lysen.dev/api/auth/github >> .env
            echo POSTGRES_DB=portfolio >> .env
            echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
            echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
            echo NUXT_SESSION_PASSWORD=${{ secrets.SESSION_PASSWORD }} >> .env
            echo NUXT_AUTHORIZED_EMAIL=${{ secrets.AUTHORIZED_EMAIL }} >> .env
            echo SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }} >> .env
            echo REGISTRY=${{ env.REGISTRY }} >> .env
            echo IMAGE_NAME=${{ env.IMAGE_NAME }} >> .env
            
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            docker compose pull
            docker compose up -d --remove-orphans
            
            docker system prune -f